/* *{
  margin: 0;
  padding: 0;
} */
header {
  border-bottom: 1px solid black;
  margin: auto;
  width: 50%;
  text-align: center;
}

main {
  width: 800px;
  height: 600px;
}

aside {
  width: 180px;
  border: 1px solid black;
  float: right;
  margin-right: -680px;
  position: static;
  text-align: center;
}

footer {
  background-color: black;
  color: white;
  width: 100%;
  bottom: 0;
  position: fixed;
}

button {
  background-color: black;
  color: white;
  font-family: serif;
}

aside:active {
  color: white;
  background-color: black;
}
button:active{
  color: black;
  background-color: white;
}
